
#productdetails{
    
    width: 50%;
    float: left;
    margin-left: 25px;
    height: 100px;
    position: relative;
   
}

#productimage{
    /* background-color: aqua; */
    width: 30%;
    float: left;
    margin-left: 200px;
}
#main-img img{
    margin-left:100px ;
    cursor: pointer;
}
#gallery img{
    cursor: pointer;
    width: 70px;
}
#clear{
    clear: both;
}
#cart-details{
  position: absolute;
  top: 300px;
}
.Addtocart {
    background: none;
    padding: 10px 30px;
    font-weight: 550;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: #2c2c2c solid 0.5px;
    transition: all 0.5s;
    margin-top: 15px;
    float: left;
  }
  
  .Addtocart:hover {
    background-color: #c3262d;
    color: #ffffff;
    border: none;
  }


  .quantity-Counter {
    margin-top: 17px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border: solid gray 1px;
    height: 40px;
    border-radius: 10px;
    float: left;
    width: 100px;
    text-align: center;
  
  }
  
  .quantity-Counter  button {
    border: none;
    font-size: 20px;
    background: none;
   
    padding-top: 4px; 
  }
  .quantity-Counter  input {
    border: none;
    width: 16px;
    text-align: center;
    margin: 0px;
    color: #a4252b;
    font-size: 15px;
    padding-top: 4px; 
   
  }
  #reviews{
    position: relative;
    /* background-color: green; */
    height: 150px;
    top: 400px;
  }
  #reviews-title{
    position: absolute;
    /* background-color: aqua; */
    height: 50px;
    width: 250px;
    margin-left: 20px;
  /* margin-top: 100px; */

  }
  #reviews-title img{
    float: left;
    padding-top:10px ;
    padding-right: 5px;
  }
  #reviews-content{
  /* background-color: #c3262d; */
    max-height: 150px;
    width: 85%;
  position: absolute;
  top:100px;
  margin-left: 100px;
  }
  .content{
    position: relative;
    border: 1px solid gray;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .content h3{
    padding-left: 10px;
    float: left;
    padding-right: 12px;
  }
  .content h5{
    float: left;
    padding-right: 12px;
  }
  .content p{
    padding-top: 2px;
  }
  .star-container{
    position: absolute;
    top: 15px;
    margin-left: 750px;
  }
  .comment {
    
     padding: 10px;

  } 
  

 